# name of the workflow
name: Create the supported devices file

# perform this only on these types
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 */2 *'

# list the jobs
jobs:

  # job item 1
  job2:
    name: Generate the SupportedDeviceList.md file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install
      - name: Get date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_ENV"
      - name: Convert JSON to Markdown
        run: node ./.github/supported-devices.js
      - name: Create New Pull Request If Needed
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PAT }}
          title: ${{ env.date }} - Compressed Images
          branch-suffix: timestamp
          commit-message: Update SupportedDeviceList.md
